body
{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;
  background-color: rgb(179, 179, 179);
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
}


.calculator {
    background-color: rgb(0, 0, 0);
    height: 75vh;
    width: 25vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 25px;
}
.display
{
    background-color: gray;
    width: 100%;
    text-align: end;
    height: 8rem;
    margin: 1rem;
}


.numberHolder
{
    display: grid;
    grid-template-rows: repeat(5 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.number
{
    background-color: rgb(51, 50, 50);
    border-radius: 1rem;
    height: 6rem;
    width: 6rem;
    font-size: 2rem;
    color: rgb(173, 216, 230);
}

.number:hover
{
    background-color: rgb(100, 100, 100);
}

.opperatorBtn
{
    color: rgb(15, 255, 255);
}

.clearBtn
{
    grid-row: 1;
    color: rgb(241, 30, 30);
}

.plusSign
{
grid-row: 1;
grid-column: 4;
}
.subtractionSign
{
grid-row: 2;
grid-column: 4;
}

.multiplicationSign
{
grid-row: 3;
grid-column: 4;
}


.equalBtn
{
    color: black;
    background-color: rgb(15, 255, 255);
    
}